<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <defaults>
    <sessionname>Default</sessionname>
    <username>Admin</username>
    <uri>https://localhost/CMS/WebService/RqlWebService.svc?WSDL</uri>
    <projectguid>...</projectguid>
  </defaults>
</configuration>