# Changelog



## vx.x.x - yyyy-MM-dd

### New Features

- ...





### Breaking changes

- Read the [BREAKINGCHANGES.md](Wiki/BREAKINGCHANGES.md) document for more information.





### Engine updates and fixes

- ...





### General cmdlet updates and fixes

- ...





### Code Cleanup

- ...





### Test, Build and Packaging Improvements

- ...





### Documentation, Graphics and Help Content

- ...





### Compliance Work

- ...




### Overview

- Read the [OVERVIEW.md](Wiki/OVERVIEW.md) document for more information.





### FAQ

- Read the [FAQ.md](Wiki/FAQ.md) document for more information.




### Known Issues

- Read the [KNOWNISSUES.md](Wiki/KNOWNISSUES.md) document for more information.