# Changelog



## vx.x.x - yyyy-MM-dd

### New Features

- ...





### Breaking changes

- Read the [BREAKINGCHANGES.md](\wiki\BREAKINGCHANGES.md) document for more information.





### Engine updates and fixes

- ...





### General cmdlet updates and fixes

- ...





### Code Cleanup

- ...





### Test, Build and Packaging Improvements

- ...





### Documentation, Graphics and Help Content

- ...





### Compliance Work

- ...




### Overview

- Read the [OVERVIEW.md](\wiki\OVERVIEW.md) document for more information.



### FAQ

- Read the [FAQ.md](\wiki\FAQ.md) document for more information.




### Known Issues

- Read the [KNOWNISSUES.md](\wiki\KNOWNISSUES.md) document for more information.